.app {
  min-height: 100vh;
  background-color: var(--color-primary-white);
}

.vegas-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vegas-frame {
  width: 1440px;
  max-width: 100%;
}
